body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Used to buffer images in sources component */
.margins {
  margin-right: 2%;
}

/* Used to center images */
.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Used to create a grid-like system */
.container {
  display: flex;
  align-items: center;
  border-style: groove;
}